[submodule "boards"]
	path = boards
	url = git@github.com:meticulousCraftman/custom-boards.git
[submodule "mbedtls"]
	path = mbedtls
	url = git@github.com:meticulousCraftman/custom-mbedtls.git
[submodule "mongoose-os-x"]
	path = mongoose-os-x
	url = git@github.com:meticulousCraftman/mongoose-os-x.git
